@tailwind base;
@tailwind components;
@tailwind utilities;

.board {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid red;
}

.komadai-sente {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  align-self: flex-end;
}

.komadai-gote {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  align-self: flex-start;
}

.fullGame {
  display: flex;
  align-items: center;
}

.piece {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
